\begin{center}
    \textbf{\Huge << esc(name) >>} \\ \vspace{5pt}
    \small << esc(phone) >> $|$ << esc(location) >> $|$
    \href{mailto:<< email >>}{\underline{<< esc(email) >>}} $|$
    \href{<< linkedin >>}{\underline{LinkedIn}} $|$
    \href{<< github >>}{\underline{GitHub}}
\end{center}
